.hidden {
  display: none;
}

.sidebar {
  display: flex;
  background-color: #5ab;
  height: 100vh;
}

.sidebar .header {
  text-align: center;
  margin: 6em auto;
  color: #fff;
}

.sidebar .header h1 {
  text-transform: uppercase;
}

.content {
  display: flex;
  height: 100vh;
}

.content .login-form {
  margin: auto;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.messages {
  width: 100%;
  height: 85vh;
  padding: 16px;
}

.send-message {
  padding: 8px 16px;
}
